.kop-btn {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    cursor: pointer;
    outline: 0;
    // background: $white;
    border: $btn-border-width solid $gray-400;
    // color: $body-color;
    line-height: $btn-line-height;
    font-size: $btn-font-size;
    font-weight: $btn-font-weight;
    box-shadow: $btn-box-shadow;
    transition: $btn-transition;
    @include button-size($btn-height, $btn-padding-y, $btn-padding-x, $btn-font-size, $border-radius);
    @include button-style($white, $gray-400, $body-color, $white, $primary, $primary);
    &.disabled,
    &:disabled,
    &[disabled] {
        cursor: not-allowed;
        opacity: $btn-disabled-opacity;
        box-shadow: none;
        > * {
            pointer-events: none;
        }
    }
    // &:after {
    //     content: "";
    //     display: block;
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     bottom: 0;
    //     left: 0;
    //     transform: scale(0, 0);
    //     opacity: .3;
    //     transition: .4s;
    // }
    // &:active:after {
    //     background-image: radial-gradient(circle, $primary 10%, transparent 10%);
    //     background-repeat: no-repeat;
    //     background-position: 50%;
    //     transform: scale(10, 10);
    //     opacity: 0;
    //     transition: transform .4s, opacity .5s;
    // }
    &.kop-btn-ripple {
        overflow: hidden;
    }
    &.kop-btn-ripple:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: scale(0, 0);
        opacity: .3;
        transition: .4s;
    }
    &.kop-btn-ripple:active:after {
        background-image: radial-gradient(circle, $primary 10%, transparent 10%);
        background-repeat: no-repeat;
        background-position: 50%;
        transform: scale(10, 10);
        opacity: 0;
        transition: transform .4s, opacity .5s;
    }
}

.kop-btn-large, .kop-btn-lg {
    @include button-size($btn-height-lg, $btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $border-radius-lg);  
    &.kop-btn-round {
        border-radius: $btn-height-lg;
        min-width: $btn-height-lg;
    }
}

.kop-btn-small, .kop-btn-sm {
    @include button-size($btn-height-sm, $btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $border-radius-sm);  
    &.kop-btn-round {
        border-radius: $btn-height-sm;
        min-width: $btn-height-sm;
    }
}

.kop-btn-circle {
    border-radius: 50%;
    min-width: $btn-height;
}

.kop-btn-round {
    border-radius: $btn-height;
}

.kop-btn-primary {
    @include button-style($primary, $primary, $white);
    &.kop-btn-background-ghost {
        @include button-style(transparent, $white, $white, transparent, $primary, $primary, $primary);
    }
    &.kop-btn-ripple:active:after {
        background-image: radial-gradient(circle, $primary 10%, transparent 10%);
        background-repeat: no-repeat;
        background-position: 50%;
        transform: scale(10, 10);
        opacity: 0;
        transition: transform .4s, opacity .5s;
    }
}

.kop-btn-danger {
    @include button-style($danger, $danger, $white);
    &.kop-btn-background-ghost {
        @include button-style(transparent, $white, $white, transparent, $danger, $danger, $danger);
    }
    &.kop-btn-ripple:active:after {
        background-image: radial-gradient(circle, $danger 10%, transparent 10%);
        background-repeat: no-repeat;
        background-position: 50%;
        transform: scale(10, 10);
        opacity: 0;
        transition: transform .4s, opacity .5s;
    }
}

.kop-btn-text {
    box-shadow: none;
    @include button-style($white, $white, $body-color, $gray-100, $gray-100);
    &.kop-btn-background-ghost {
        @include button-style(transparent, transparent, $white, transparent, transparent, $primary);
    }
}

.kop-btn-dashed {
    border-style: dashed;
}

.kop-btn-link {
    font-weight: $font-weight-normal;
    color: $btn-link-color;
    text-decoration: $link-decoration;
    box-shadow: none;
    border: none;
    &:active:after {
        background-image: none;
    }
    &:hover {
        color: $btn-link-hover-color;
        text-decoration: $link-hover-decoration;
    }
    &:focus {
        text-decoration: $link-hover-decoration;
        box-shadow: none;
    }
    &.disabled,
    &:disabled,
    &[disabled] {
        color: $btn-link-disabled-color;
        pointer-events: none;
    }
}

.kop-btn-background-ghost {
    box-shadow: none;
    background: transparent;
    border-color: $white;
    color: $white;
    &:active {
        background: transparent;
    }
    &:hover {
        background: transparent;
    }
    &:focus {
        background: transparent;
    }
}
